/* body, html{
    margin: 0;
    overflow: hidden;
} */
body {
    margin:0;
    overflow: hidden;
}
.container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
  }
.scene{
    display: flex;
    flex: 1;
}
.sky{
    background-image: url("./images/scene1.jpg");
    background-color: aquamarine;
    background-size: cover;
    background-repeat: round;
    height: 100vh;
}
.foreground1{
    flex: 0.6;
    display: flex;
    background-image: url("./images/scene1.jpg");
    background-color: aquamarine;
    background-size: cover;
    background-repeat: round;
}
.foreground2{
    display: flex;
    flex: 0.4;
    background-image: url("./images/road1.jpg");
    background-color: aquamarine;
    background-size: cover;
    background-repeat: round;
}
img{
    position: absolute;
}
.tree{
    height: 80vh;
    bottom:0
}
.bird{
    height: 20vh;
    top: 150px;
    left: 350px;
}
.heading{
    /* position: absolute;
    left: 30%; */
    height: 10vh;
    color: white;
    background-color: crimson;
    display: flex;
}
